##### **Import the necessary libraries and datasets of S&P 500 and S&P Financials**

In [2]:
import pandas as pd
import numpy as np

In [4]:
df_constituents = pd.read_csv('https://datahub.io/core/s-and-p-500-companies-financials/_r/-/data/constituents.csv')
df_constituents_financials = pd.read_csv('https://datahub.io/core/s-and-p-500-companies-financials/_r/-/data/constituents-financials.csv')

In [6]:
df_constituents_financials.info()
df_constituents_financials.head(n=5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          503 non-null    object
 1   Name            503 non-null    object
 2   Sector          503 non-null    object
 3   Price           501 non-null    float64
 4   Price/Earnings  474 non-null    float64
 5   Dividend Yield  406 non-null    float64
 6   Earnings/Share  500 non-null    float64
 7   52 Week Low     501 non-null    float64
 8   52 Week High    501 non-null    float64
 9   Market Cap      501 non-null    float64
 10  EBITDA          472 non-null    float64
 11  Price/Sales     501 non-null    float64
 12  Price/Book      470 non-null    float64
 13  SEC Filings     503 non-null    object
dtypes: float64(10), object(4)
memory usage: 55.1+ KB

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M,Industrial Conglomerates,129.09,13.432882,0.0217,9.61,75.652176,141.34,7.029712e+10,8.117000e+09,2.153843,15.144298,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A. O. Smith,Building Products,68.21,17.997362,0.0200,3.79,67.390000,92.45,9.890109e+09,8.091000e+08,2.539963,5.159997,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care Equipment,113.11,34.379940,0.0209,3.29,99.710000,121.64,1.961848e+11,1.082500e+10,4.759802,4.929829,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie,Biotechnology,177.70,61.916378,0.0372,2.87,153.580000,207.32,3.140208e+11,2.563000e+10,5.654670,52.065628,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture,IT Consulting & Other Services,351.79,29.537365,0.0170,11.91,278.690000,387.51,2.200376e+11,1.106591e+10,3.390595,7.775740,http://www.sec.gov/cgi-bin/browse-edgar?action...

##### **Drop a column and a row from dataframe and set Symbol to index**

In [ ]:
df_constituents_financials = df_constituents_financials.drop('SEC Filings',axis=1)
df_constituents_financials = df_constituents_financials.drop('GOOG',axis=0)
df_constituents_financials = df_constituents_financials.set_index(keys='Symbol')

##### **Find 10 largest company as a list and return all information**

In [11]:
df_constituents_financials.sort_values('Market Cap',ascending=False).head(n=10).index.values
df_constituents_financials.nlargest(10,'Market Cap') #or .nsmallest()

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
39,AAPL,Apple Inc.,"Technology Hardware, Storage & Peripherals",250.42,41.187500,0.0040,6.08,164.08000,260.10,3.785299e+12,1.346610e+11,9.680204,66.477300
350,NVDA,Nvidia,Semiconductors,134.29,53.079050,0.0003,2.53,47.32000,152.89,3.288762e+12,6.118400e+10,34.148730,77.001144
320,MSFT,Microsoft,Systems Software,421.50,34.805946,0.0078,12.11,366.50000,468.35,3.133802e+12,1.365520e+11,12.328582,10.893443
19,GOOGL,Alphabet Inc. (Class A),Interactive Media & Services,189.30,25.139442,0.0042,7.53,130.67000,201.42,2.325172e+12,1.234700e+11,6.841578,7.390778
20,GOOG,Alphabet Inc. (Class C),Interactive Media & Services,190.44,25.290836,0.0042,7.53,131.55000,202.88,2.321559e+12,1.234700e+11,6.830946,7.435287
22,AMZN,Amazon,Broadline Retail,219.39,46.978584,NaN,4.67,144.05000,233.00,2.306886e+12,1.115830e+11,3.720016,8.898397
314,META,Meta Platforms,Interactive Media & Services,585.51,27.657536,0.0034,21.17,340.01000,638.40,1.478114e+12,7.920900e+10,9.461324,8.982144
444,TSLA,"Tesla, Inc.",Automobile Manufacturers,403.84,111.250690,NaN,3.63,138.80000,488.54,1.296351e+12,1.324400e+10,13.343804,18.519674
72,AVGO,Broadcom,Semiconductors,231.84,178.338470,0.0117,1.30,104.15100,251.88,1.086717e+12,2.295800e+10,23.213020,3.914827
483,WMT,Walmart,Consumer Staples Merchandise Retail,90.35,37.334710,0.0099,2.42,51.86667,96.18,7.258168e+11,4.077900e+10,1.091396,8.677487

##### **Filtering, sorting and counting**

In [17]:
len(df_constituents_financials[df_constituents_financials['Dividend Yield']> 2])

0

In [19]:
# Mean EPS for companies with market cap > 1e+11
df_constituents_financials[df_constituents_financials['Market Cap']>1e+11]['Earnings/Share'].mean()

9.354375

In [23]:
# 52 week high of the company who pays highest dividend yield
symbol = df_constituents_financials['Dividend Yield'].idxmax()
df_constituents_financials.loc[symbol]['52 Week High']

27.05

##### **Custom Function to find largest spread between 52W high/low /np.vectorize**

In [ ]:
def spread_52W(high,low):
    spread = abs(high - low)
    return spread

#df_constituents_financials[['52 Week High','52 Week Low']].apply(lambda df_constituents_financials:spread_52W(df_constituents_financials['52 Week High'],df_constituents_financials['52 Week Low']),axis=1).sort_values(ascending=False).head(n=1).index.values

df_constituents_financials['52 Week High/Low Spread'] = np.vectorize(spread_52W)(df_constituents_financials['52 Week High'],df_constituents_financials['52 Week Low'])
df_constituents_financials.nlargest(1,'52 Week High/Low Spread').index.values

##### **Insert new column**

In [ ]:
df_constituents_financials['Market Cap in Billion'] = df_constituents_financials['Market Cap']/1000000000

##### **Find correlation bewteen two columns**

In [ ]:
df_constituents_financials[['Market Cap','Dividend Yield']].corr()

##### **Merge two dataframes**

In [ ]:
df_constituents = df_constituents.set_index(keys='Symbol')
df_constituents.merge(df_constituents_financials,left_index=True,right_index=True)

##### **Count number of companies in each sectors**

In [ ]:
df_constituents['Sector'].value_counts()

##### **Get unique values and number of unique values**

In [56]:
df['sex'].unique()
df['day'].nunique()

Sector
Health Care Equipment                           18
Semiconductors                                  15
Electric Utilities                              15
Industrial Machinery & Supplies & Components    14
Multi-Utilities                                 12
                                                ..
Other Specialized REITs                          1
Computer & Electronics Retail                    1
Multi-Sector Holdings                            1
Metal, Glass & Plastic Containers                1
Timber REITs                                     1
Name: count, Length: 127, dtype: int64

##### **Replace values in columns**

In [111]:
df_constituents['Sector'] = df_constituents['Sector'].replace(to_replace='Information Technology',value='IT')

##### **Adding custom symbol with .format()**

In [ ]:
def format_currency(amount):
    return '${:}'.format(amount)

df_constituents_financials.apply(lambda df_constituents_financials:format_currency(df_constituents_financials['Price']),axis=1)
df_constituents_financials['Price'].apply(format_currency)

##### **Apply custom function based on conditions with .apply()**

In [ ]:
def yelp(price):
    if price < 10:
        return '$'
    elif price >= 10 and price < 30:
        return '$$'
    else:
        return '$$$'
# Functions to be applied should just return a single value to be applied to every row

In [ ]:
df['Expensive'] = df['total_bill'].apply(yelp)
# OR using lambda expression
df['total_bill'].apply(lambda bill:bill*0.18)

df[df['Expensive'] == '$']
# Filter out all results with '$'

##### **Custom function with multiple input using lambda or np.vectorize()**

In [ ]:
def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"

In [ ]:
# Add a new column and apply new functino with 2 parameters
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)

#OR with np.vectorize()
import numpy as np
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'],df['tip'])

##### **Statistical Summary**

In [ ]:
df.describe()

##### **Sort values by columns**

In [ ]:
df.sort_values('tip',ascending=False)
# Helpful if you want to reorder after a sort
# https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns
df.sort_values(['tip','size'])

##### **Mapping of values**

In [ ]:
my_map = {'Dinner':'D','Lunch':'L'}
df['time'] = df['time'].map(my_map)

##### **Duplicate Values**

In [ ]:
# Returns True for the 1st instance of a duplicated row
df.duplicated()
df.drop_duplicates()

##### **Between**

In [ ]:
df[df['total_bill'].between(10,20,inclusive='both')]

##### **Sample**

In [ ]:
df.sample(frac=0.1)

##### **Python Datetime**

In [52]:
from datetime import datetime
my_date_time = datetime(2020,3,20,14,4,28)

In [56]:
my_date_time.day
my_date_time.second

28

##### **Converting using Pandas .to_datetime()**

In [80]:
import pandas as pd
mydateseries = pd.Series(['Nov 20, 2021','2023-02-26',None])

In [ ]:
pd.to_datetime(mydateseries, format='mixed')

In [ ]:
#Custom Format (day first)
eur_date = '10-12-2012'
pd.to_datetime(eur_date,dayfirst=True)

In [ ]:
style_date = '12--Dec--2000'
pd.to_datetime(style_date, format='%d--%b--%Y')
strange_date = '12th of Dec 2000'
pd.to_datetime(strange_date)

##### **Parse dates using Pandas**

In [139]:
retail_sales_df = pd.read_csv('https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=720&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=MRTSSM4453USN&scale=left&cosd=1992-01-01&coed=2024-11-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=3&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2025-01-28&revision_date=2025-01-28&nd=1992-01-01')

In [141]:
retail_sales_df['observation_date'] = pd.to_datetime(retail_sales_df['observation_date'])

In [240]:
#Parse automatically using parse_dates parameter
link = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=720&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=MRTSSM4453USN&scale=left&cosd=1992-01-01&coed=2024-11-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=3&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2025-01-28&revision_date=2025-01-28&nd=1992-01-01'
retail_sales_df1 = pd.read_csv(link,index_col='observation_date',parse_dates=True)

##### **Data aggregation using resample()**

In [121]:
#Set date as index first
retail_sales_df = retail_sales_df.set_index('observation_date')
retail_sales_df.resample(rule='YE').mean()

<table style="display: inline-block">
    <caption style="text-align: center"><strong>TIME SERIES OFFSET ALIASES</strong></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>B</td><td>business day frequency</td></tr>
<tr><td>C</td><td>custom business day frequency (experimental)</td></tr>
<tr><td>D</td><td>calendar day frequency</td></tr>
<tr><td>W</td><td>weekly frequency</td></tr>
<tr><td>M</td><td>month end frequency</td></tr>
<tr><td>SM</td><td>semi-month end frequency (15th and end of month)</td></tr>
<tr><td>BM</td><td>business month end frequency</td></tr>
<tr><td>CBM</td><td>custom business month end frequency</td></tr>
<tr><td>MS</td><td>month start frequency</td></tr>
<tr><td>SMS</td><td>semi-month start frequency (1st and 15th)</td></tr>
<tr><td>BMS</td><td>business month start frequency</td></tr>
<tr><td>CBMS</td><td>custom business month start frequency</td></tr>
<tr><td>Q</td><td>quarter end frequency</td></tr>
<tr><td></td><td><font color=white>intentionally left blank</font></td></tr></table>

<table style="display: inline-block; margin-left: 40px">
<caption style="text-align: center"></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>BQ</td><td>business quarter endfrequency</td></tr>
<tr><td>QS</td><td>quarter start frequency</td></tr>
<tr><td>BQS</td><td>business quarter start frequency</td></tr>
<tr><td>A</td><td>year end frequency</td></tr>
<tr><td>BA</td><td>business year end frequency</td></tr>
<tr><td>AS</td><td>year start frequency</td></tr>
<tr><td>BAS</td><td>business year start frequency</td></tr>
<tr><td>BH</td><td>business hour frequency</td></tr>
<tr><td>H</td><td>hourly frequency</td></tr>
<tr><td>T, min</td><td>minutely frequency</td></tr>
<tr><td>S</td><td>secondly frequency</td></tr>
<tr><td>L, ms</td><td>milliseconds</td></tr>
<tr><td>U, us</td><td>microseconds</td></tr>
<tr><td>N</td><td>nanoseconds</td></tr></table>

##### **Get date properties using .dt**

In [ ]:
#Create date range in pandas
idx = pd.date_range(start='2018-01-01', freq='D', periods=3)

In [ ]:
retail_sales_df.reset_index()

In [ ]:
retail_sales_df['observation_date'] = pd.to_datetime(retail_sales_df['observation_date'])
retail_sales_df['observation_date'].dt.day_name()
sales['DATE'].dt.month
sales['DATE'].dt.is_leap_year

##### **Yahoo Finance Data Source**

In [159]:
import yfinance as yf
apple= yf.download("AAPL",start='2020-01-01',end='2025-02-01')
apple.head(10)

[*********************100%***********************]  1 of 1 completed

In [171]:
#Get fundamentals or corporate action data
apple_ticker = yf.Ticker('AAPL')
apple_ticker.get_balance_sheet()
apple_ticker.actions
apple_ticker.dividends
apple_ticker.recommendations
apple_ticker.sustainability

##### **FRED St. Louis Fed Data Source**

In [179]:
#Sample data: https://fred.stlouisfed.org/series/T10YIE
#10-Year Breakeven Inflation Rate (T10YIE)

In [185]:
import pandas_datareader as web
from datetime import date
ty_inflation_df = web.DataReader('T10YIE', 'fred', start='2000-01-01', end=date.today())

In [ ]:
ty_inflation_df.plot()

##### **Line Plot and Histogram**

In [ ]:
apple[['Adj Close','High']].plot()

In [ ]:
apple['Close'].plot(kind='hist',bins=200)

##### **Editing Pandas Plots Using Matplotlib**

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,3),dpi=150)
apple['Adj Close'].plot()
#Make sure these two lines are in the same cell

In [202]:
#Connecting two plots under same axis
walmart = yf.download('WMT',start='2020-01-01',end='2024-03-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
fig, ax = plt.subplots()
apple['Adj Close'].plot(ax=ax)
walmart['Adj Close'].plot(ax=ax)

In [ ]:
#Legends and Labels
fig,ax = plt.subplots()
walmart['Adj Close'].plot(ax=ax,label='WMT Adj Close',ls='--',lw=0.8,color='blue')
apple[['Adj Close','High']].plot(ax=ax)
plt.legend()

In [ ]:
#Styling inside .plot() command and saving pandas plots
plt.figure(dpi=300)
apple['Adj Close'].plot(figsize=(10,3),lw='2',ls='--',color='red',
                        xlabel='INDEX',ylabel='ADJ CLOSE');
plt.savefig('my_pandas_plot.png')

In [ ]:
#Set X limit by slicing dates
apple['Close']['2021-01-01':'2022-01-01'].plot(figsize=(12,4))

In [ ]:
#Set Y limit by finding min and max over the date range
apple.loc['2018-01-01':'2019-01-01']['Close'].min()
apple.loc['2018-01-01':'2019-01-01']['Close'].max()
apple['Close'].plot(figsize=(12,4),xlim=['2018-01-01','2019-01-01'],ylim=[170,250]);

##### **Major Ticks along x-axis (spacing and format)**

In [ ]:
#Tick locator
from matplotlib import dates
ax = apple['Close'].plot(xlim=('2018-01-01','2018-03-01'),xlabel='',ylabel='price',ylim=(170,210))
# SET THE TICK LOCATOR AND FORMATTER FOR THE MAJOR AXIS
ax.xaxis.set_major_locator(dates.WeekdayLocator(byweekday=0))
ax.xaxis.set_major_locator(dates.MonthLocator())
ax.xaxis.set_major_locator(dates.YearLocator())
ax.xaxis.set_major_locator(dates.DayLocator())
#The dates themselves correspond with byweekday=0, or Mondays.
#For a full list of locator options available from matplotlib.dates visit 
#https://matplotlib.org/api/dates_api.html#date-tickers

#Tick formatter
ax.xaxis.set_major_formatter(dates.DateFormatter("%Y-%b-%d"))

In [ ]:
#Date format test
from datetime import datetime
datetime(2001, 2, 3, 16, 5, 6).strftime("%A, %B %d, %Y  %I:%M:%S %p")

## Formator

### Date Formatting
Formatting follows the Python datetime <strong><a href='http://strftime.org/'>strftime</a></strong> codes.<br>
The following examples are based on <tt>datetime.datetime(2001, 2, 3, 16, 5, 6)</tt>:
<br><br>

<table style="display: inline-block">  
<tr><th>CODE</th><th>MEANING</th><th>EXAMPLE</th><tr>
<tr><td>%Y</td><td>Year with century as a decimal number.</td><td>2001</td></tr>
<tr><td>%y</td><td>Year without century as a zero-padded decimal number.</td><td>01</td></tr>
<tr><td>%m</td><td>Month as a zero-padded decimal number.</td><td>02</td></tr>
<tr><td>%B</td><td>Month as locale’s full name.</td><td>February</td></tr>
<tr><td>%b</td><td>Month as locale’s abbreviated name.</td><td>Feb</td></tr>
<tr><td>%d</td><td>Day of the month as a zero-padded decimal number.</td><td>03</td></tr>  
<tr><td>%A</td><td>Weekday as locale’s full name.</td><td>Saturday</td></tr>
<tr><td>%a</td><td>Weekday as locale’s abbreviated name.</td><td>Sat</td></tr>
<tr><td>%H</td><td>Hour (24-hour clock) as a zero-padded decimal number.</td><td>16</td></tr>
<tr><td>%I</td><td>Hour (12-hour clock) as a zero-padded decimal number.</td><td>04</td></tr>
<tr><td>%p</td><td>Locale’s equivalent of either AM or PM.</td><td>PM</td></tr>
<tr><td>%M</td><td>Minute as a zero-padded decimal number.</td><td>05</td></tr>
<tr><td>%S</td><td>Second as a zero-padded decimal number.</td><td>06</td></tr>
</table>
<table style="display: inline-block">
<tr><th>CODE</th><th>MEANING</th><th>EXAMPLE</th><tr>
<tr><td>%#m</td><td>Month as a decimal number. (Windows)</td><td>2</td></tr>
<tr><td>%-m</td><td>Month as a decimal number. (Mac/Linux)</td><td>2</td></tr>
<tr><td>%#x</td><td>Long date</td><td>Saturday, February 03, 2001</td></tr>
<tr><td>%#c</td><td>Long date and time</td><td>Saturday, February 03, 2001 16:05:06</td></tr>
</table>

##### **Minor Ticks along x-axis**

In [ ]:
#Rotate Minor ticks
plt.figure(dpi=100,figsize=(10,3))
ax = apple['Close']['2018-01-01':'2020-01-01'].plot()

# SET THE TICK LOCATOR AND FORMATTER FOR THE MAJOR AXIS
ax.xaxis.set_major_locator(dates.YearLocator())
ax.xaxis.set_major_formatter(dates.DateFormatter("%Y"))

# SET THE TICK LOCATOR AND FORMATTER FOR THE MINOR AXIS
ax.xaxis.set_minor_locator(dates.MonthLocator())
ax.xaxis.set_minor_formatter(dates.DateFormatter("%B"))


# FURTHER EDITING TICK PROPERTIES
ax.tick_params(axis='x',which='minor',rotation=45)
ax.tick_params(axis='x',which='major',rotation=90,pad=30)

In [ ]:
#Include "January" instead of just year on major tick
plt.figure(dpi=100,figsize=(10,3))
ax = apple['Close']['2018-01-01':'2020-01-01'].plot()

# SET THE TICK LOCATOR AND FORMATTER FOR THE MAJOR AXIS
ax.xaxis.set_major_locator(dates.YearLocator())
ax.xaxis.set_major_formatter(dates.DateFormatter("%Y %B"))

# SET THE TICK LOCATOR AND FORMATTER FOR THE MINOR AXIS
ax.xaxis.set_minor_locator(dates.MonthLocator())
ax.xaxis.set_minor_formatter(dates.DateFormatter("%B"))


# FURTHER EDITING TICK PROPERTIES

ax.tick_params(axis="x", which="major",rotation=45, pad=5)
ax.tick_params(axis="x", which="minor",rotation=45)

# To get it exactly perfect is a lot more work:
# https://stackoverflow.com/questions/28615887/how-to-move-a-ticks-label-in-matplotlib
plt.xticks(ha='center');

#Adding Gridlines
ax.yaxis.grid(True)
ax.xaxis.grid(True)

##### **Rolling Statistics**

In [ ]:
# 7-day rolling mean of every column
apple.rolling(7).mean().head(15)

In [ ]:
# Plot open price vs 30-day rolling mean close
apple['Open'].plot()
apple.rolling(window=30).mean()['Close'].plot()

In [ ]:
fig, ax = plt.subplots(nrows=2, ncols=1, figsize=(16, 6))

# Calculate the 30-day moving average
apple['Close: 30 Day Mean'] = apple['Close'].rolling(window=30).mean()
ax[0].plot(apple['Close'], label='Close')
ax[0].plot(apple['Close: 30 Day Mean'], label='Close: 30 Day Mean')
ax[0].legend(loc='best')  # Add legend to the top subplot

# Calculate the 14-day standard deviation
apple['Close: 14 Day SD'] = apple['Close'].rolling(window=14).std()
ax[1].plot(apple['Close: 14 Day SD'], label='Close: 14 Day SD')
ax[1].legend(loc='best')  # Add legend to the bottom subplot

In [ ]:
#Bollinger bands
apple['Close: 30 Day Mean'] = apple['Close'].rolling(window=20).mean()
apple['Upper'] = apple['Close: 30 Day Mean'] + 2*apple['Close'].rolling(window=20).std()
apple['Lower'] = apple['Close: 30 Day Mean'] - 2*apple['Close'].rolling(window=20).std()
apple[['Close','Close: 30 Day Mean','Upper','Lower']].plot(figsize=(16,6))

##### **Time Shifting**

In [ ]:
# Shifting forward (will lose the last piece of data)
walmart.shift(1).tail()

# Shifting backward
walmart.shift(-1).head()

# Shift everything forward one month
walmart.shift(periods=1,freq='M').head()

##### **Differencing and Percent Changes**

In [ ]:
walmart["Adj Close"].diff(1)

In [ ]:
walmart["Adj Close"].pct_change(1)

##### **Cumulative sum and product**

In [ ]:
example_series = pd.Series([1,2,3,4])
example_series.cumsum()

In [ ]:
example_series.cumprod()